body {
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    background-color: rgb(84, 84, 216);
    color: white;
    text-align: center;
}

.calculadora {
    background-color: white;
}

button {
    background-color: rgb(84, 84, 216);
    color: white;
}

#resultado {
    font-size: 16px;
    font-weight: bold;
    color: black;
}