body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

article {
    margin-bottom: 20px;
}

article h2 {
    margin-top: 0;
    font-size: 24px;
}

article:not(:last-of-type) {
    border-bottom: 1px solid black;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    line-height: 1.5;
}

.light-mode {
    --bg-color:white ;
    --text-color:black ;
}

.dark-mode {
     --bg-color:#333 ;
     --text-color:white ;
}

body.light-mode, body.dark-mode {
     background-color:var(--bg-color) ;
     color:var(--text-color) ;
}

body.light-mode article:not(:last-of-type) {
     border-bottom-color:black ;
}

body.dark-mode article:not(:last-of-type) {
     border-bottom-color:white ;
}

#profile-pic {
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
}
